In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dtrain=pd.read_csv('train.csv')

In [3]:
dtrain.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [4]:
dtrain.columns

Index(['customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

# Data preparation on Train Data

In [5]:
dtrain.dtypes

customer_id                      object
Name                             object
age                               int64
gender                           object
security_no                      object
region_category                  object
membership_category              object
joining_date                     object
joined_through_referral          object
referral_id                      object
preferred_offer_types            object
medium_of_operation              object
internet_option                  object
last_visit_time                  object
days_since_last_login             int64
avg_time_spent                  float64
avg_transaction_value           float64
avg_frequency_login_days         object
points_in_wallet                float64
used_special_discount            object
offer_application_preference     object
past_complaint                   object
complaint_status                 object
feedback                         object
churn_risk_score                  int64
dtype: object

In [6]:
dtrain.shape

(36992, 25)

In [7]:
dtrain.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [8]:
dtrain['churn_risk_score'].value_counts()

 3    10424
 4    10185
 5     9827
 2     2741
 1     2652
-1     1163
Name: churn_risk_score, dtype: int64

In [9]:
categorical=[]
for i in dtrain.columns:
    if dtrain[i].dtypes=='object':
        categorical.append(i)
print(categorical)

['customer_id', 'Name', 'gender', 'security_no', 'region_category', 'membership_category', 'joining_date', 'joined_through_referral', 'referral_id', 'preferred_offer_types', 'medium_of_operation', 'internet_option', 'last_visit_time', 'avg_frequency_login_days', 'used_special_discount', 'offer_application_preference', 'past_complaint', 'complaint_status', 'feedback']

In [10]:
for i in categorical:
    print(i+':',end=' ')
    print(dtrain[i].unique())
    print()

customer_id: ['fffe4300490044003600300030003800' 'fffe43004900440032003100300035003700'
 'fffe4300490044003100390032003600' ... 'fffe4300490044003500330034003100'
 'fffe43004900440031003200390039003000'
 'fffe43004900440033003600340034003200']

Name: ['Pattie Morrisey' 'Traci Peery' 'Merideth Mcmeen' ... 'Luciana Kinch'
 'Tawana Ardoin' 'Verlene Beaulieu']

gender: ['F' 'M' 'Unknown']

security_no: ['XW0DQ7H' '5K0N3X1' '1F2TCL3' ... 'XK1IM9H' 'K6VTP1Z' 'LBX0GLR']

region_category: ['Village' 'City' 'Town' nan]

membership_category: ['Platinum Membership' 'Premium Membership' 'No Membership'
 'Gold Membership' 'Silver Membership' 'Basic Membership']

joining_date: ['2017-08-17' '2017-08-28' '2016-11-11' ... '2017-12-11' '2016-09-25'
 '2017-04-15']

joined_through_referral: ['No' '?' 'Yes']

referral_id: ['xxxxxxxx' 'CID21329' 'CID12313' ... 'CID60808' 'CID10431' 'CID45477']

preferred_offer_types: ['Gift Vouchers/Coupons' 'Credit/Debit Card Offers' 'Without Offers' nan]

medium_of_operation: ['?' 'Desktop' 'Smartphone' 'Both']

internet_option: ['Wi-Fi' 'Mobile_Data' 'Fiber_Optic']

last_visit_time: ['16:08:02' '12:38:13' '22:53:21' ... '04:14:05' '09:50:03' '01:39:52']

avg_frequency_login_days: ['17.0' '10.0' '22.0' ... '-9.32551114210603' '-8.759329712785977'
 '27.8399274405269']

used_special_discount: ['Yes' 'No']

offer_application_preference: ['Yes' 'No']

past_complaint: ['No' 'Yes']

complaint_status: ['Not Applicable' 'Solved' 'Solved in Follow-up' 'Unsolved'
 'No Information Available']

feedback: ['Products always in Stock' 'Quality Customer Care' 'Poor Website'
 'No reason specified' 'Poor Product Quality' 'Poor Customer Service'
 'Too many ads' 'User Friendly Website' 'Reasonable Price']

In [11]:
dtrain['gender'].value_counts()

F          18490
M          18443
Unknown       59
Name: gender, dtype: int64

In [12]:
# check duplicate value
dtrain['customer_id'].duplicated().sum()

0

In [13]:
dtrain1=dtrain.drop(['customer_id','Name','security_no','referral_id'],axis=1)

In [14]:
dtrain1['medium_of_operation'].value_counts()

Desktop       13913
Smartphone    13876
?              5393
Both           3810
Name: medium_of_operation, dtype: int64

In [15]:
dtrain1.drop(dtrain1.loc[dtrain1['medium_of_operation']=='?'].index, inplace=True)

In [16]:
dtrain1.drop(dtrain1.loc[dtrain1['joined_through_referral']=='?'].index, inplace=True)

In [17]:
dtrain1.columns

Index(['age', 'gender', 'region_category', 'membership_category',
       'joining_date', 'joined_through_referral', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'last_visit_time',
       'days_since_last_login', 'avg_time_spent', 'avg_transaction_value',
       'avg_frequency_login_days', 'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score'],
      dtype='object')

In [18]:
def replace(dtrain1):
    for column in dtrain1.columns[dtrain1.columns.isin(['joined_through_referral','used_special_discount','offer_application_preference','past_complaint'])]:
          dtrain1[column]=dtrain1[column].replace(('Yes','No'),(1, 0))
    return dtrain1

In [19]:
dtrain2=replace(dtrain1.copy())

In [20]:
dtrain2.head()

,age,gender,region_category,membership_category,joining_date,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
2,44,F,Town,No Membership,2016-11-11,1,Gift Vouchers/Coupons,Desktop,Wi-Fi,22:53:21,...,516.16,21027.00,22.0,500.69,0,1,1,Solved in Follow-up,Poor Website,5
3,37,M,City,No Membership,2016-10-29,1,Gift Vouchers/Coupons,Desktop,Mobile_Data,15:57:50,...,53.27,25239.56,6.0,567.66,0,1,1,Unsolved,Poor Website,5
4,31,F,City,No Membership,2017-09-12,0,Credit/Debit Card Offers,Smartphone,Mobile_Data,15:46:44,...,113.13,24483.66,16.0,663.06,0,1,1,Solved,Poor Website,5
6,21,M,Town,Gold Membership,2015-03-19,1,Gift Vouchers/Coupons,Desktop,Mobile_Data,11:40:04,...,55.38,8982.50,28.0,756.21,1,0,1,Solved in Follow-up,No reason specified,3
8,44,M,Village,Silver Membership,2016-12-14,0,Without Offers,Smartphone,Fiber_Optic,06:50:10,...,191.07,18362.31,20.0,NaN,1,0,1,Solved in Follow-up,Poor Customer Service,3

In [21]:
dtrain2['points_in_wallet']=dtrain2['points_in_wallet'].fillna(value=dtrain['points_in_wallet'].mean())

In [22]:
dtrain2.isnull().sum()

age                                0
gender                             0
region_category                 3903
membership_category                0
joining_date                       0
joined_through_referral            0
preferred_offer_types            206
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                   0
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [23]:
dtrain2=dtrain2.dropna()

In [24]:
dtrain2.isnull().any()

age                             False
gender                          False
region_category                 False
membership_category             False
joining_date                    False
joined_through_referral         False
preferred_offer_types           False
medium_of_operation             False
internet_option                 False
last_visit_time                 False
days_since_last_login           False
avg_time_spent                  False
avg_transaction_value           False
avg_frequency_login_days        False
points_in_wallet                False
used_special_discount           False
offer_application_preference    False
past_complaint                  False
complaint_status                False
feedback                        False
churn_risk_score                False
dtype: bool

In [25]:
dtrain2.head()

,age,gender,region_category,membership_category,joining_date,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
2,44,F,Town,No Membership,2016-11-11,1,Gift Vouchers/Coupons,Desktop,Wi-Fi,22:53:21,...,516.16,21027.00,22.0,500.690000,0,1,1,Solved in Follow-up,Poor Website,5
3,37,M,City,No Membership,2016-10-29,1,Gift Vouchers/Coupons,Desktop,Mobile_Data,15:57:50,...,53.27,25239.56,6.0,567.660000,0,1,1,Unsolved,Poor Website,5
4,31,F,City,No Membership,2017-09-12,0,Credit/Debit Card Offers,Smartphone,Mobile_Data,15:46:44,...,113.13,24483.66,16.0,663.060000,0,1,1,Solved,Poor Website,5
6,21,M,Town,Gold Membership,2015-03-19,1,Gift Vouchers/Coupons,Desktop,Mobile_Data,11:40:04,...,55.38,8982.50,28.0,756.210000,1,0,1,Solved in Follow-up,No reason specified,3
8,44,M,Village,Silver Membership,2016-12-14,0,Without Offers,Smartphone,Fiber_Optic,06:50:10,...,191.07,18362.31,20.0,686.882199,1,0,1,Solved in Follow-up,Poor Customer Service,3

In [26]:
def encode_data(dtrain2):
    for col in dtrain2.columns[dtrain2.columns.isin(['gender','region_category','membership_category','preferred_offer_types','medium_of_operation','internet_option','complaint_status','feedback'])]:
        dtrain2[col]=dtrain2[col].factorize()[0]
    return dtrain2

In [27]:
dtrain3=encode_data(dtrain2)

In [28]:
dtrain3.head()

,age,gender,region_category,membership_category,joining_date,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
2,44,0,0,0,2016-11-11,1,0,0,0,22:53:21,...,516.16,21027.00,22.0,500.690000,0,1,1,0,0,5
3,37,1,1,0,2016-10-29,1,0,0,1,15:57:50,...,53.27,25239.56,6.0,567.660000,0,1,1,1,0,5
4,31,0,1,0,2017-09-12,0,1,1,1,15:46:44,...,113.13,24483.66,16.0,663.060000,0,1,1,2,0,5
6,21,1,0,1,2015-03-19,1,0,0,1,11:40:04,...,55.38,8982.50,28.0,756.210000,1,0,1,0,1,3
8,44,1,2,2,2016-12-14,0,2,1,2,06:50:10,...,191.07,18362.31,20.0,686.882199,1,0,1,0,2,3

In [29]:
dtrain3['joining_day']=pd.to_datetime(dtrain3.joining_date,format="%Y-%m-%d").dt.day
dtrain3['joining_month']=pd.to_datetime(dtrain3.joining_date,format="%Y-%m-%d").dt.day
dtrain3['joining_year']=pd.to_datetime(dtrain3.joining_date,format="%Y-%m-%d").dt.year

In [30]:
dtrain3=dtrain3.drop('joining_date',axis=1)

In [31]:
dtrain3.head()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,...,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,joining_day,joining_month,joining_year
2,44,0,0,0,1,0,0,0,22:53:21,14,...,500.690000,0,1,1,0,0,5,11,11,2016
3,37,1,1,0,1,0,0,1,15:57:50,11,...,567.660000,0,1,1,1,0,5,29,29,2016
4,31,0,1,0,0,1,1,1,15:46:44,20,...,663.060000,0,1,1,2,0,5,12,12,2017
6,21,1,0,1,1,0,0,1,11:40:04,10,...,756.210000,1,0,1,0,1,3,19,19,2015
8,44,1,2,2,0,2,1,2,06:50:10,15,...,686.882199,1,0,1,0,2,3,14,14,2016

In [32]:
import datetime
current_year=datetime.datetime.now().year

In [33]:
# dtrain3['working_year']=datetime.datetime.now().year
# dtrain3['working_year']=dtrain3['working_year']-dtrain3['joining_year']

In [34]:
dtrain3['working_year']=dtrain3['joining_year'].apply(lambda x:current_year-x)

In [35]:
dtrain3=dtrain3.drop('joining_year',axis=1)

In [36]:
dtrain3.head()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,last_visit_time,days_since_last_login,...,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,joining_day,joining_month,working_year
2,44,0,0,0,1,0,0,0,22:53:21,14,...,500.690000,0,1,1,0,0,5,11,11,5
3,37,1,1,0,1,0,0,1,15:57:50,11,...,567.660000,0,1,1,1,0,5,29,29,5
4,31,0,1,0,0,1,1,1,15:46:44,20,...,663.060000,0,1,1,2,0,5,12,12,4
6,21,1,0,1,1,0,0,1,11:40:04,10,...,756.210000,1,0,1,0,1,3,19,19,6
8,44,1,2,2,0,2,1,2,06:50:10,15,...,686.882199,1,0,1,0,2,3,14,14,5

In [37]:
# dtrain3['last_hour']=pd.to_datetime(dtrain3['last_visit_time'],format="%H:%M:%S").dt.hour
# dtrain3['last_minute']=pd.to_datetime(dtrain3['last_visit_time'],format="%H:%M:%S").dt.minute
# dtrain3['last_second']=pd.to_datetime(dtrain3['last_visit_time'],format="%H:%M:%S").dt.second
dtrain4=dtrain3.drop('last_visit_time',axis=1)

In [38]:
dtrain4['avg_frequency_login_days']=dtrain4['avg_frequency_login_days'].replace('Error',0)

In [39]:
dtrain4['avg_frequency_login_days']=dtrain4['avg_frequency_login_days'].astype(float)

In [40]:
dtrain4=dtrain4[dtrain4['churn_risk_score'] >= 1]

In [41]:
dtrain4.head()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,...,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,joining_day,joining_month,working_year
2,44,0,0,0,1,0,0,0,14,516.16,...,500.690000,0,1,1,0,0,5,11,11,5
3,37,1,1,0,1,0,0,1,11,53.27,...,567.660000,0,1,1,1,0,5,29,29,5
4,31,0,1,0,0,1,1,1,20,113.13,...,663.060000,0,1,1,2,0,5,12,12,4
6,21,1,0,1,1,0,0,1,10,55.38,...,756.210000,1,0,1,0,1,3,19,19,6
8,44,1,2,2,0,2,1,2,15,191.07,...,686.882199,1,0,1,0,2,3,14,14,5

In [42]:
dtrain4.columns

Index(['age', 'gender', 'region_category', 'membership_category',
       'joined_through_referral', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'days_since_last_login',
       'avg_time_spent', 'avg_transaction_value', 'avg_frequency_login_days',
       'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn_risk_score', 'joining_day', 'joining_month',
       'working_year'],
      dtype='object')

In [43]:
dtrain4.isin([np.inf, -np.inf]).sum()

age                             0
gender                          0
region_category                 0
membership_category             0
joined_through_referral         0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
joining_day                     0
joining_month                   0
working_year                    0
dtype: int64

In [44]:
dtrain4['churn_risk_score'].value_counts()

3    6477
4    6233
5    6025
2    1728
1    1674
Name: churn_risk_score, dtype: int64

# Data preparation on Test data

In [45]:
dtest=pd.read_csv('test.csv')

In [46]:
dtest.shape

(19919, 24)

In [47]:
dtest.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,2015-11-02,No,xxxxxxxx,...,12,386.26,40721.44,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,2016-03-01,No,xxxxxxxx,...,11,37.80,9644.40,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website
2,fffe43004900440034003800360037003000,Carina Flannigan,31,F,02J2RE7,Town,Silver Membership,2017-03-03,No,xxxxxxxx,...,18,215.36,3693.25,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified
3,fffe43004900440036003200370033003400,Kyung Wanner,64,M,5YEQIF1,Town,Silver Membership,2017-08-18,Yes,CID8941,...,-999,44.57,36809.56,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads
4,fffe43004900440035003000370031003900,Enola Gatto,16,F,100RYB5,Town,No Membership,2015-05-05,Yes,CID5690,...,6,349.88,40675.86,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website

In [48]:
dtest.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 2948
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            159
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                1963
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
dtype: int64

In [49]:
cat_test=[]
for i in dtest.columns:
    if dtest[i].dtypes=='object':
        cat_test.append(i)
print(cat_test)

['customer_id', 'Name', 'gender', 'security_no', 'region_category', 'membership_category', 'joining_date', 'joined_through_referral', 'referral_id', 'preferred_offer_types', 'medium_of_operation', 'internet_option', 'last_visit_time', 'avg_frequency_login_days', 'used_special_discount', 'offer_application_preference', 'past_complaint', 'complaint_status', 'feedback']

In [50]:
for i in cat_test:
    print(i+':',end=' ')
    print(dtest[i].unique())
    print()

customer_id: ['fffe43004900440031003700300030003400'
 'fffe43004900440031003900370037003300'
 'fffe43004900440034003800360037003000' ...
 'fffe43004900440036003100310036003700'
 'fffe43004900440034003200330033003600'
 'fffe43004900440036003200340030003100']

Name: ['Alethia Meints' 'Ming Lopez' 'Carina Flannigan' ... 'Loura Huckstep'
 'Sharita Clubb' 'Ying Branum']

gender: ['F' 'M' 'Unknown']

security_no: ['OQJ1XAY' 'OUQRPKO' '02J2RE7' ... 'ADE7LWA' 'A35KUBS' 'IPJKJJV']

region_category: ['Village' 'Town' 'City' nan]

membership_category: ['Premium Membership' 'Gold Membership' 'Silver Membership'
 'No Membership' 'Basic Membership' 'Platinum Membership']

joining_date: ['2015-11-02' '2016-03-01' '2017-03-03' ... '2015-01-06' '2017-02-11'
 '2015-09-13']

joined_through_referral: ['No' 'Yes' '?']

referral_id: ['xxxxxxxx' 'CID8941' 'CID5690' ... 'CID45490' 'CID37167' 'CID56352']

preferred_offer_types: ['Without Offers' 'Gift Vouchers/Coupons' 'Credit/Debit Card Offers' nan]

medium_of_operation: ['Smartphone' 'Desktop' 'Both' '?']

internet_option: ['Wi-Fi' 'Fiber_Optic' 'Mobile_Data']

last_visit_time: ['07:19:30' '22:21:16' '16:40:39' ... '09:26:37' '21:59:14' '10:50:15']

avg_frequency_login_days: ['7.0' '9.0' '21.0' '11.0' '8.0' '16.0' '6.0' '15.0' '17.0' 'Error' '14.0'
 '22.0' '24.0' '19.0' '26.0' '13.0' '23.0' '-12.45152540989227' '27.0'
 '-15.186933105926087' '20.0' '29.0' '10.0' '18.0' '-9.88064172634823'
 '1.0' '25.0' '-6.860127860435156' '5.0' '-16.412159664032224' '4.0'
 '0.278739691977151' '12.0' '28.0' '3.0132693895798965'
 '-8.416372442715044' '26.09498277675688' '2.0' '40.798882726171655'
 '1.1896812483686716' '42.64229671799564' '49.88681648878545' '3.0'
 '38.38495725899893' '34.57977847856286' '-17.496741613848044'
 '-9.580967742824598' '6.045765806883605' '-3.1124756866003693'
 '52.236280430929504' '44.87214674846937' '29.18756687506291'
 '-3.954096300597058' '38.99230194505459' '-13.387137751926094'
 '5.533984015151521' '43.81738376987773' '31.81999879015691'
 '52.17868425906444' '-9.087181675466304' '-11.616447439718243'
 '-0.29918939974785985' '49.26306817932144' '34.86092239444768'
 '-6.623815893148148' '32.974156160871686' '50.89506880498933'
 '32.890192514417194' '-8.086876006364182' '46.60297994160129'
 '-14.5126645771464' '38.594756596646334' '25.934693587199014'
 '-0.026667545779886836' '-15.310973187128653' '3.1532790776267063'
 '44.55837527837534' '36.96062894438106' '30.178503336783827'
 '0.8535216835580712' '-6.491691410911095' '31.262483426930057'
 '-19.424001716831523' '49.69571280202533' '-0.5804374915495742'
 '41.45932614364939' '-14.785374176061627' '47.72785054939712'
 '44.926706472809016' '39.608693945822566' '-8.039106169705747'
 '37.858324366691534' '-7.7705995357234805' '-11.568363073759592'
 '-23.965255812034204' '31.14791125740281' '53.30045179132154'
 '52.45041425229117' '-11.523214647615333' '53.85454286741648'
 '-3.6290547959952484' '46.057360618890385' '-15.926546433837046'
 '54.56185157177637' '37.740296451022445' '40.98741220299619'
 '50.290361045433855' '52.14194160495225' '45.61432755899921'
 '-18.326687376067394' '-9.503617215684706' '30.612657695392407'
 '34.53349002674567' '33.495783316721955' '-5.315675950145739'
 '5.576256178001074' '39.46579030864115' '-19.930579245445244'
 '-12.929733031100792' '42.46355153665215' '39.8693953240887'
 '-3.3421425705050964' '32.4174433435207' '-16.52252728891905'
 '-20.76399065997341' '40.215859030558605' '2.351730731369649'
 '29.327896195200836' '0.9289035923343185' '40.7979297982561'
 '36.05599928335366' '46.297274263430566' '-20.957756327545685'
 '-2.046046139906572' '46.88433341561848' '9.735227085267368'
 '-20.944531559980277' '-19.21411883863574' '3.7112229136910955'
 '-1.8040004091573394' '-18.32274835468251' '36.10354879269541'
 '32.72175306113871' '-16.23694200509321' '-14.596477021031035'
 '35.33216431588362' '36.26654406310578' '-3.0136872151899645'
 '47.562027034143114' '44.664138137390694' '49.00613878787795'
 '41.368957254311965' '48.540453837933725' '29.623407245879957'
 '50.07962122712499' '42.14710310247078' '-23.48053309336474'
 '-3.5058396849608684' '53.394431548572754' '-14.266887510443752'
 '33.50701323803854' '39.45142039982973' '-20.330661681384825'
 '-2.621981490594475' '32.78139371179432' '45.27458594148274'
 '-4.147010787605701' '40.98053327406339' '-14.689151512450785'
 '-4.381395387993688' '-17.109956014386988' '-10.818400007835123'
 '46.58163669823352' '-13.54675773113356' '-8.849222319834055'
 '-8.036249623888331' '0.44415357313891235' '52.15724022199784'
 '36.42398116274451' '-16.913636153475615' '48.772520458780534'
 '30.418075004426335' '27.60635921664122' '-14.349420036139463'
 '42.35385673378163' '-12.017239412429078' '-17.978919777603952'
 '-17.195556261844715' '48.47125463416323' '41.85989265473303'
 '-0.273327911179404' '1.2220466211636314' '41.79653429144151'
 '52.73525576226589' '-19.398842396993512' '-17.581322455428754'
 '-14.73663619062334' '-9.294980012458986' '-19.483266636242465'
 '41.771343085837344' '28.555792214777853' '-8.123475098694605'
 '39.66764122451639' '-12.089928667812814' '-15.210410966361955'
 '50.119874293791945' '-20.587683146096765' '0.5348820574077813'
 '38.009095320631104' '0.7546463251644617' '53.58486295404839'
 '38.73702341537674' '45.535062262164345' '50.605879201931515'
 '3.361475735027387' '-5.768889028692509' '-20.244947948443574'
 '37.283628838815616' '-12.878970019240903' '-12.85503989363579'
 '31.906061211717038' '-15.520913721343604' '42.0433093790581'
 '-7.415861465608149' '28.898219832886696' '0.3747342457453229'
 '-13.346598562172858' '-9.395059463961672' '41.435597731763295'
 '-17.359191971603302' '-21.18272735394892' '46.53983597774585' '30.0'
 '44.44876935230169' '-21.563642346623986' '37.52838859892198'
 '-15.012768753200863' '-16.026930331985128' '35.90928089797501'
 '-17.187849604803542' '4.666473231119632' '-5.782320734666165'
 '41.055320722698696' '-7.2609116662727295' '38.39533837280623'
 '29.071889393153803' '52.969008718723884' '1.7291837631389981'
 '-9.384836554827682' '3.5497370702854596' '-14.488771468913018'
 '51.227995502683896' '29.221487740459352' '51.594368791309506'
 '32.73866814283249' '-3.332104742829486' '-4.8381624887665495'
 '-11.77803851163831' '52.018736542005115' '41.106036155827915'
 '26.224671154415077' '42.060301788590294' '49.49900051447329'
 '32.58243033310526' '45.44724571152781' '34.26999920208525'
 '51.124220346254404' '36.984991656421705' '36.85464394392237'
 '-22.20407390801885' '-0.4233593837231098' '33.76406951285779'
 '1.7867266119079765' '44.635017175790345' '36.505070314304405'
 '5.100040826629424' '-18.029695626665536' '39.75804243780887'
 '-1.8363686235116141' '31.75625799423887' '52.148280854466556'
 '6.519477213802389' '4.695146733723199' '35.978189337315676'
 '-20.660044078836588' '-11.392838102941568' '39.560882467233824'
 '50.401649475909565' '-12.755525715158697' '-11.06506065305934'
 '-13.910590595247346' '-13.010062131160943' '34.716900059600476'
 '0.44758277180085315' '-17.00223591420297' '-17.447208043106645'
 '50.282419685174325' '-15.280090661485563' '-9.86187813587022'
 '33.57346231561177' '-9.61017985478776' '42.41058363835864'
 '-8.741477390880483' '-21.51131478951286' '4.64339147754875'
 '-12.936264852021559' '33.02667011344091' '0.8803922744371988'
 '45.68507456227172' '42.61522796733377' '30.95990460335964'
 '41.33583217848666' '70.51307447535432' '33.72612868617649'
 '50.818636300906306' '-9.249536901575183' '-14.942056494377937'
 '-1.127860427894607' '32.79332035249789' '-14.060256094735816'
 '-23.427558746136707' '-11.277413726868456' '-2.123292979467873'
 '41.68040954238643' '5.013279895145189' '31.422609203239737'
 '1.102378804313286' '51.995494009552225' '1.53931539432892'
 '43.158131965014086' '-5.9873514715838745' '46.45661268980901'
 '-14.600230268058816' '37.71587120142611' '33.59326294629419'
 '-15.240415654500026' '-5.282188979416635' '34.04927562175778'
 '38.84121200272037' '3.6918115555842057' '-3.4120959066389105'
 '42.948343353649236' '33.05405412429762' '53.33762992334157'
 '35.073201688129075' '33.6093549928813' '-10.392687598903422'
 '-14.517523864105698' '-11.464392245199807' '-17.57672114724955'
 '-17.309282819030525' '-9.93467574851853' '54.80328904650817'
 '53.96885745660376' '-10.217711541397001' '32.385693244915714'
 '-9.9092879608055' '-18.75390514700799' '-6.022819456853913'
 '0.27580901669412583' '-16.54358352478495' '-6.300516180399647'
 '41.87827629438586' '48.29145015815823' '53.356920425468715'
 '33.81068714250672' '-9.657373646429878' '31.89770660602109'
 '-0.9458767849665399' '-16.217980544047375' '38.64782870972847'
 '30.957627211670793' '-32.276589346779105' '46.513329272210704'
 '-14.185396416184695' '-2.885490649688709' '-0.3908663392482268'
 '-6.067421090492967' '53.53974428051285' '48.61232441474666'
 '44.023776186794734' '-3.600077402237879' '4.3768117564984905'
 '-6.876282101450872' '52.441509624679654' '39.951291257765085'
 '-15.551324553691067' '-11.226085253213064' '25.028891705672375'
 '43.524886285115414' '-13.606416832816361' '-1.3375387749219776'
 '-10.189996924972949' '-11.318466531238563' '53.490521411450686'
 '39.6693681509518' '54.021107807713626' '-5.441748376902744'
 '-14.869431350794422' '1.6660868819568648' '-0.5161083168648197'
 '-3.8585994718328287' '-2.435096421657306' '37.80782590658729'
 '32.33128288415946' '49.61229501602521' '-0.06942939967747463'
 '49.51521629652248' '28.193852805989664' '29.432572981916564'
 '-12.125315584436827' '-5.213725170090765' '-21.25885577167979'
 '-3.5355214520256055' '38.140883261295684' '1.8998279018703812'
 '-16.645316667563577' '45.22512259276091' '-15.484097514575577'
 '-1.349075024214578' '43.28774005860339' '-21.06396354806691'
 '50.880578800298906' '-9.411910381028175' '-15.423218296008766'
 '-1.479436947311175' '37.11088769246767' '30.37239478534536'
 '52.842581329426615' '-10.739263873505195' '-4.468677615808726'
 '1.2681922744292997' '39.225299002059444' '48.16583145211784'
 '-5.135424395640499' '31.195643337670006' '-6.212445126023525'
 '-10.507851530769585' '37.58292601063044' '-13.72800017658313'
 '1.339505253579997' '-1.440407084693085' '49.67065994603034'
 '41.81136370665959' '34.50760657030613' '53.662002033952305'
 '-9.236978785250464' '44.34744760380821' '47.006828035311486'
 '39.500274447383326' '34.00917968421641' '41.52137986235391'
 '46.766094344564706' '50.473943886500585' '31.71361966594487'
 '-13.941483131768827' '-11.731067972402123' '-10.531499149101222'
 '-5.487631318364606' '32.21119786903559' '30.467490429736742'
 '-11.86962911098287' '-16.028088528529466' '-6.175687337157733'
 '43.79078895600468' '-16.58145355318719' '-6.74803196902354'
 '42.501205976959284' '-17.085294813086712' '-22.233964833425688'
 '37.58466241485634' '41.65715441355057' '1.4496496402273493'
 '-14.705296519210762' '-5.083718616704552' '-0.6239989916117423'
 '-2.634271867114233' '34.45723677651811' '-14.006129967427363'
 '1.9299056143422462' '-4.271024140618188' '-15.113992652961315'
 '-13.913012069840292' '-14.989094896802417' '42.97170256778968'
 '32.412986695326566' '-2.5191128218405403' '34.65807663380541'
 '49.153958164638155' '-21.239980837804268' '53.161454687344026'
 '37.99728053558536' '47.92223160404973' '0.12761589873194623'
 '40.06995241958203' '76.80848251372484' '-12.483980876300592'
 '-7.794958302927789' '-28.62646137197521' '44.39159427213732'
 '-38.304407465498905' '33.129802838976076' '39.88071787670396'
 '-2.440059828202493' '-4.835035925151853' '1.1860517608723349'
 '-18.37486053324495' '-20.465413422543804' '-17.17837488423372'
 '5.990639081297914' '1.9462066388074604' '31.07471327661894'
 '41.6880663438714' '-18.057321552899793' '32.495057055933934'
 '-31.72345545780024' '51.27857018996838' '-7.542084477079445'
 '58.21516192430333' '-5.933690562088323' '-13.150890088544305'
 '44.95577625981695' '33.33864096190216' '-11.733778780315212'
 '4.9761340207849685' '-11.584295852984525' '35.520533942254644'
 '53.78840802985934' '-5.004472556285744' '45.942925649366494'
 '48.475872877358384' '-8.46124389590161' '-13.31918190560927'
 '49.78466142500533' '49.09456042209189' '3.7125180241375446'
 '28.595065786063405' '1.5715392165039077' '-10.562860383174652'
 '-1.6882231585671263' '-17.57370785751936' '-18.38111377471432'
 '42.7072370241407' '35.60233633591371' '-16.3664078415156'
 '33.220261605445586' '35.307466434216195' '-15.168873518145567'
 '-11.314569285794803' '-2.3429460731562664' '48.09038034595948'
 '-12.502895545698589' '-8.213746796248024' '45.36028330993471'
 '-8.984375621528297' '-36.59874112154782' '50.84574205918666'
 '-22.22728090153706' '43.33826150009535' '36.00955785638968'
 '37.73734566823227' '36.73103019518156' '49.19949950452317'
 '45.42913730177611' '24.001492155788178' '79.46992661791744'
 '36.15254018350731' '-22.389998761650645' '46.07443662854351'
 '-1.3079733783962908' '-6.419789353023454' '48.072503348836904'
 '48.223922773255154' '42.951238697830064' '-15.991222604935423'
 '46.86404533709932' '-2.932128715953425' '46.47864024665219'
 '30.368275202705092' '51.915968695279204' '45.530100258756576'
 '51.405253422988295' '-17.788251063979722' '50.13156181453413'
 '-18.025223473947115' '51.510249116700805' '-15.773515413913614'
 '35.67889302157356' '32.26321189087887' '46.994316244403805'
 '-10.449115267983899' '2.1213941350853105' '50.30557615371513'
 '-12.161161518169209' '-14.159086733551845' '53.86139643228839'
 '-13.201352812155868' '49.34194951348287' '-9.507283589652573'
 '-10.876716246411625' '-13.144620704805146' '-11.408719294945076'
 '-1.0353764418504916' '37.06951235764508' '-6.308121665078772'
 '-8.953963385551624' '48.597877439058806' '43.300887980983866'
 '-1.570049566433866' '-3.304506987903565' '-2.7468263250197893'
 '-6.529466647577067' '36.200950990791156' '-15.734025159710477'
 '-19.565395447437574' '37.74081149390453' '-17.364719756999524'
 '33.76911661032186' '-12.42796584885317' '-9.753748880985334'
 '38.7649079331766' '41.918703265475585' '40.16426075406123'
 '37.83974654165479' '-18.80075862175793' '31.84956991875213'
 '-18.140574553994714' '46.35782779293606' '34.96639823804924'
 '50.20228550350419' '-1.6320631276187711' '34.46428309072648'
 '-11.832346189142342' '-10.454395363171955' '36.228599254445996'
 '-6.801566346058841' '-7.62753092374939' '-0.6484950853201994'
 '-1.0399072695776468' '-9.41406918735121' '48.317272587925174'
 '43.22163373691454' '29.26210460968233' '-22.730916608514214'
 '-17.567792619613833' '30.16848584939013' '-6.270308160554105'
 '-6.772760614642735' '-18.33647543048999' '49.23197479168856'
 '-22.374410176158847' '-11.709578672782904' '-18.982808395754603'
 '47.97108749404073' '-20.685347309390785' '36.518899587913026'
 '-13.75081708566993' '-12.065304248112433' '45.94880393304024'
 '40.601258780055474' '30.22149177768135' '36.413790243372574'
 '-15.536649489214046' '-1.9603253977031159' '-19.982646413795308'
 '-4.081700719353648' '51.891656602133835' '43.3052327941158'
 '31.282343266386498' '48.85147752329604' '31.148417432947557'
 '33.976417455499345' '40.515548100337355' '2.738261759317467'
 '44.720050161765556' '0.49231172505842125' '-20.50834071776987'
 '-3.6210343881124984' '29.684091463920286' '1.2023939074939207'
 '-7.131370700619847' '-7.399603361832039' '-14.512792491096526'
 '-22.57785241278225' '76.16677578613015' '4.335915314180845'
 '-15.911222740594031' '53.06513137232633' '-6.950965242096704'
 '38.8261228538306' '51.81445188965564' '-7.483269010267268'
 '51.25156269000757' '-2.9732853844222014' '48.224020184103395'
 '-7.3791752798409185' '40.04086818808369' '-18.922959916368324'
 '32.91070603971505' '-19.1829711015714' '-3.6530652688537977'
 '33.2488964633113' '-24.390224019116353' '40.62981785728698'
 '-15.779656578760772' '31.637024647981313' '56.825059194393035'
 '33.0929386692462' '44.86931123806284' '34.34425822191491'
 '-9.482391705958893' '-6.995451212839978' '-17.65309659625935'
 '34.563045007918674' '-22.418552416985314' '34.8983349497432'
 '-8.397272875023454' '55.11033290886488' '-21.59109893012939'
 '-8.276604212017997' '-8.007727304634912' '0.24641508295596992'
 '45.620596212206856' '0.5247766476795519' '53.93702426149701'
 '-13.635326272497434' '51.96025147932896' '51.49807129703349'
 '47.59676425316258' '29.181281831695983' '29.776723332458115'
 '31.33799610323458' '53.09861753331082' '-8.625383945669334'
 '37.49644904386454' '39.95848784151116' '-5.732304518494477'
 '-0.07190318101047666' '49.293004152245416' '44.881264286865324'
 '-16.353709807996534' '54.49959298786904' '-46.01029532699472'
 '-8.399488186856633' '34.71971394853934' '36.271986331287174'
 '34.95631509171686' '54.75706908628867' '0.4342235722050063'
 '-10.618981063042774' '-17.050322445591508' '52.99628022414501'
 '36.69543923393097' '42.024387453745916' '54.86476952927546'
 '1.7475562491035035' '32.04581140244962' '-17.590502384880637'
 '-6.178786998183881' '-3.9861081260999462' '42.33523036254971'
 '50.38163251345038' '-0.718868518155233' '42.2329174986078'
 '-16.713106574284723' '0.6857715139192386' '37.59106598775326'
 '40.411909902798996' '1.5565411305478207' '-8.354566299321057'
 '47.521513088359825' '-3.528027035568414' '41.53299724520008'
 '52.22186538415825' '-6.328911182601605' '3.434648272379544'
 '-10.295850884362075' '39.820515891210206' '-34.8862352967319'
 '38.61497345069816' '34.79268005763513' '52.20380682144559'
 '-18.643960268930098' '-16.38507774948473' '44.495979781319235'
 '42.11089231888347' '38.311608080928096' '2.6558057915105238'
 '-8.077594758127518' '39.583374248379485' '-18.821411896368986'
 '47.18289598291145' '22.850277362792973' '37.934430212310275'
 '55.43765470009245' '1.8763407564567203' '-17.964624400762272'
 '-7.091189769150496' '48.01665035653405' '-18.31468660563401'
 '45.461525174031536' '-0.661004556843551' '31.92581361607342'
 '-9.316666272388758' '-15.545099215179192' '-22.54316585777442'
 '38.48941707201281' '48.54777423684605' '40.60418194379349'
 '-15.527415704421447' '-9.234293793767648' '49.6105106983823'
 '50.40746736886945' '-23.10043666018768' '50.524011116267246'
 '38.58763174515724' '-6.873075195839508' '1.210130744460109'
 '2.576399735305394' '-14.335683173247133' '49.43788012473395'
 '-12.111453786706758' '58.445839404265385' '47.40854705943133'
 '-12.858794369390484' '-6.436949221693865' '46.451648951650284'
 '39.485140204046786' '50.34348054306759' '-16.86139285737422'
 '-17.850347561991864' '50.76599269127179' '0.3325726646773788'
 '1.9283772201904341' '-1.1305249835473674' '-11.754139544210098'
 '-14.505906675136142' '-10.951865337078019' '-18.62950317154675'
 '2.234916344625411' '-5.313215352712184' '33.363852124073496'
 '-16.09390999887624' '34.281023782752' '39.509267639778685'
 '38.68907424337722' '51.388692350144126' '-15.978081098185534'
 '-26.346020265721226' '38.531456781894185' '-7.514234675859136'
 '-13.810822246623317' '48.29884778278361' '30.19162091309014'
 '-20.964757507815783' '45.23525447910414' '-17.137005112212336'
 '1.1799994983255822' '-14.561313301566223' '54.689508330983664'
 '54.77352250953914' '-11.06314060814799' '38.64215000046837'
 '33.23098904698855' '-2.2154007993039286' '60.4361804927881'
 '-6.739061253272563' '38.571658126288455' '-13.83954155988302'
 '37.148959906645636' '-17.95321838750251' '40.01070116169265'
 '48.55358438786729' '49.57896264645846' '35.94005774693018'
 '40.00039432802572' '0.9628085744950994' '18.338483709014078'
 '-15.821905183599675' '-15.885504256516725' '32.84324306540317'
 '35.122273500233256' '47.974861497053396' '-18.700840557439044'
 '-5.417184712667911' '-12.101628383924083' '0.8989879556602176'
 '-9.207852290559678' '42.264412169851084' '29.406452335450425'
 '53.769785917680906' '-8.627166065287817' '-10.986542925473671'
 '-14.486973614831214' '31.502073949330285' '4.63926428442058'
 '51.226570174479676' '39.034729023294815' '32.66166671266245'
 '50.84387663455667' '30.178618791666068' '39.66284926159253'
 '-21.502474785044377' '-9.815884998164986' '-2.411095634883832'

In [51]:
# check duplicate value
dtest['customer_id'].duplicated().sum()

0

In [52]:
dtest.drop(dtest.loc[dtest['medium_of_operation']=='?'].index, inplace=True)

In [53]:
dtest.drop(dtest.loc[dtest['joined_through_referral']=='?'].index, inplace=True)

In [54]:
def replace_test(dtest):
    for column in dtest.columns[dtest.columns.isin(['joined_through_referral','used_special_discount','offer_application_preference','past_complaint'])]:
          dtest[column]=dtest[column].replace(('Yes','No'),(1, 0))
    return dtest

In [55]:
dtest1=replace_test(dtest.copy())

In [56]:
dtest1['points_in_wallet']=dtest1['points_in_wallet'].fillna(value=dtest1['points_in_wallet'].mean())

In [57]:
dtest1.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 2116
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            120
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                   0
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
dtype: int64

In [58]:
dtest1=dtest1.dropna()

In [59]:
def encode_test(dtest1):
    for col in dtest1.columns[dtest1.columns.isin(['gender','region_category','membership_category','preferred_offer_types','medium_of_operation','internet_option','complaint_status','feedback'])]:
        dtest1[col]=dtest1[col].factorize()[0]
    return dtest1

In [60]:
dtest2=encode_test(dtest1)

In [61]:
dtest2['joining_day']=pd.to_datetime(dtest2.joining_date,format="%Y-%m-%d").dt.day
dtest2['joining_month']=pd.to_datetime(dtest2.joining_date,format="%Y-%m-%d").dt.day
dtest2['joining_year']=pd.to_datetime(dtest2.joining_date,format="%Y-%m-%d").dt.year

In [62]:
dtest2=dtest2.drop('joining_date',axis=1)

In [63]:
curr_year=datetime.datetime.now().year
dtest2['working_year']=dtest2['joining_year'].apply(lambda x:curr_year-x)

In [64]:
dtest2=dtest2.drop('joining_year',axis=1)

In [65]:
# dtest3['last_hour']=pd.to_datetime(dtest3['last_visit_time'],format="%H:%M:%S").dt.hour
# dtest3['last_minute']=pd.to_datetime(dtest3['last_visit_time'],format="%H:%M:%S").dt.minute
# dtest3['last_second']=pd.to_datetime(dtest3['last_visit_time'],format="%H:%M:%S").dt.second
dtest3=dtest2.drop('last_visit_time',axis=1)

In [66]:
dtest3['avg_frequency_login_days']=dtest3['avg_frequency_login_days'].replace('Error',0)

In [67]:
dtest3['avg_frequency_login_days']=dtest3['avg_frequency_login_days'].astype(float)

In [68]:
dtest4=dtest3.drop(['customer_id','Name','security_no','referral_id'],axis=1)

In [69]:
dtest4.head()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,...,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,joining_day,joining_month,working_year
0,50,0,0,0,0,0,0,0,12,386.26,...,7.0,733.830000,1,0,0,0,0,2,2,6
1,41,1,0,1,0,0,1,1,11,37.80,...,9.0,726.000000,1,0,0,0,1,1,1,5
2,31,0,1,2,0,1,2,2,18,215.36,...,21.0,713.780000,1,0,1,1,2,3,3,4
4,16,0,1,3,1,0,0,2,6,349.88,...,8.0,299.048351,0,1,1,1,1,5,5,6
6,17,1,2,0,0,2,1,0,15,262.58,...,6.0,685.100784,1,0,0,0,3,16,16,6

# Data Preprocessing

In [70]:
x_train=dtrain4.drop(['churn_risk_score'],axis=1)
y_train=dtrain4['churn_risk_score']

In [71]:
# y_train = pd.get_dummies(y_train)

In [72]:
x_train.shape,y_train.shape

((22137, 21), (22137,))

# Modeling

# Decision Tree Classifier

In [73]:
# from sklearn.tree import DecisionTreeClassifier
# from scipy.stats import randint 
# from sklearn.model_selection import RandomizedSearchCV

# classifier = DecisionTreeClassifier()
 
# param_dist = {"max_depth": [3, None], 
#               "max_features": randint(1, 11 ),
#               "min_samples_leaf": randint(1, 11),
#               "criterion": ["gini", "entropy"]} 
# decision_cv = RandomizedSearchCV(classifier, param_dist, cv = 10) 
# decision_cv.fit(x_train, y_train)   
# print("Tuned Decision Tree Parameters: {}".format(decision_cv.best_params_)) # Print the tuned parameters
# print("Best score is {}".format(decision_cv.best_score_)) # Print score

In [74]:
# y_pred = decision_cv.predict(dtest4)

In [75]:
# df=pd.DataFrame(data=y_pred,columns=[1,2,3,4,5])

In [76]:
# res=df.idxmax(axis=1)

In [77]:
# submission=pd.DataFrame(data=dtest3['customer_id'],columns=['customer_id','churn_risk_score'])
# submission['churn_risk_score']=res

# Gradient Boosting Classifier

In [78]:
from sklearn.ensemble import GradientBoostingClassifier

In [79]:
classifier_gboost = GradientBoostingClassifier()
classifier_gboost.fit(x_train, y_train)

GradientBoostingClassifier()

In [80]:
y_pred_gb=classifier_gboost.predict(dtest4)

In [81]:
df=pd.DataFrame(data=y_pred_gb,columns=['churn_risk_score'])

In [82]:
submission=pd.DataFrame(data=dtest3['customer_id'],columns=['customer_id','churn_risk_score'])
submission['churn_risk_score']=df

In [83]:
submission

                                customer_id  churn_risk_score
0      fffe43004900440031003700300030003400               5.0
1      fffe43004900440031003900370037003300               3.0
2      fffe43004900440034003800360037003000               3.0
4      fffe43004900440035003000370031003900               4.0
6      fffe43004900440034003500360031003900               5.0
...                                     ...               ...
19913      fffe4300490044003400300031003100               NaN
19915  fffe43004900440032003900370037003100               NaN
19916  fffe43004900440036003100310036003700               NaN
19917  fffe43004900440034003200330033003600               NaN
19918  fffe43004900440036003200340030003100               NaN

[12174 rows x 2 columns]

In [84]:
submission.to_csv('submission.csv', index=False)

In [85]:
d=pd.read_csv('submission.csv')

In [86]:
d.isnull().any()

customer_id         False
churn_risk_score     True
dtype: bool

In [87]:
d.shape

(12174, 2)

In [88]:
dtrain4.dtypes

age                               int64
gender                            int64
region_category                   int64
membership_category               int64
joined_through_referral           int64
preferred_offer_types             int64
medium_of_operation               int64
internet_option                   int64
days_since_last_login             int64
avg_time_spent                  float64
avg_transaction_value           float64
avg_frequency_login_days        float64
points_in_wallet                float64
used_special_discount             int64
offer_application_preference      int64
past_complaint                    int64
complaint_status                  int64
feedback                          int64
churn_risk_score                  int64
joining_day                       int64
joining_month                     int64
working_year                      int64
dtype: object

In [89]:
dtest4.dtypes

age                               int64
gender                            int64
region_category                   int64
membership_category               int64
joined_through_referral           int64
preferred_offer_types             int64
medium_of_operation               int64
internet_option                   int64
days_since_last_login             int64
avg_time_spent                  float64
avg_transaction_value           float64
avg_frequency_login_days        float64
points_in_wallet                float64
used_special_discount             int64
offer_application_preference      int64
past_complaint                    int64
complaint_status                  int64
feedback                          int64
joining_day                       int64
joining_month                     int64
working_year                      int64
dtype: object

In [90]:
dtest4.tail()

,age,gender,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,...,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,joining_day,joining_month,working_year
19913,58,1,0,1,0,2,1,0,11,113.63,...,10.0,622.460000,0,1,0,0,1,5,5,6
19915,40,0,0,3,1,0,1,1,21,63.19,...,0.0,574.340000,0,1,0,0,2,31,31,4
19916,55,1,1,3,0,2,1,2,18,68.72,...,24.0,564.300000,0,1,1,2,2,9,9,6
19917,17,0,2,2,1,2,0,1,3,119.54,...,22.0,606.340000,0,1,0,0,1,17,17,5
19918,20,1,1,0,1,1,2,0,8,505.26,...,0.0,1193.689813,0,1,1,2,4,30,30,4